html{
    font-size: 20px;
}

body, html{
    font-family: monospace;
    margin: 0;
}

body{
    display: grid;
    color: black;
}

header{
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
    height: fit-content;
    background-color: rgb(171, 64, 64);
}

header a:hover{
    text-shadow: rgb(114, 29, 29) 2px 2px 2px;
}

.head input::placeholder{
    font-size: 1em; 
}
.head input{
    font-size: 1em; 
    padding: 0.25em 0em 0.25em 0.5em;
    border-radius: 2em;
    border: 0.2em rgb(114, 29, 29) solid;
    width: max-content;
    max-width: fit-content;
}
.head{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 2em;
    max-height: fit-content;
}



.homeLogo img
{
    width: 1em;
    aspect-ratio: 1/1;
    min-height: 1em;
    min-width: 0.5em;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: max-content;
    min-width: min-content;
    max-width: max-content;
    height: fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.nav a{
    text-align: left;
    margin: 0% 2%;
    margin-bottom: 0.25em;
    min-height: 0.5em;
}

.search{
    min-width: min-content;
    width: min-content;
}

/*--------------*/

main{
    box-sizing: content-box;
    display: grid;
    border: gray 2px solid;
}

section{
    gap: 0.5em;
    padding: 0.5em;
}

.block_img{
    box-sizing: content-box;
    aspect-ratio: 1/1;
    min-height: 64px;
    min-width: 64px;
    height: 20vmin;
    width: 20vmin;
    max-height: 256px;
    max-width: 256px;
}

.block_img_mini{
    box-sizing: content-box;
    aspect-ratio: 1/1;
    min-height: 32px;
    min-width: 32px;
    height: 10vmin;
    width: 10vmin;
    max-height: 64px;
    max-width: 64px;
}

.side_top img{
    width: 100%;
    height: 100%;
}

.info{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_name{
    background-color: rgb(255, 209, 209);
    border-radius: 1em;
    text-align: center;
}

.info_description{
    font-size: 0.75em;
}

.info_tags{
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 1em;
    max-height: fit-content;
}

.info_tags li{
    font-size: 0.9em;
    background-color: rgb(255, 190, 190);
    display: inline;
    overflow: hidden;
}

.item{
    display: grid;
    grid-template-columns: 150px 1fr;
    min-width: 300px;
    min-height: 150px;
    max-height: fit-content;
    padding: 0.75em;
    border-radius: 0.75em;
    background-color: rgb(224, 179, 179);
    border: solid 0.15em rgba(0,0,0,0);
}

.content > a:hover> div{
    border: solid 0.15em rgb(114, 29, 29);
}

.content > a:focus> div{
    border: solid 0.15em rgb(114, 29, 29);
}

img{
    image-rendering: pixelated;
}
.item img {
    width: 150px;
    height: 150px;
}
.preview{
    background-image: url(Logo2.png);
    background-size: cover;
}

footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
    padding: 1em;
    color: white;
    background-color: rgb(57, 57, 57);
    font-size: 0.75em;
}

.coworking{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    margin: 0.25em 0px;
}

.coworking > div{
    margin: 0.3em 2em 0.3em 0em;

}

footer img{
    margin: 10px;
}

a{
    color: unset;
    text-decoration: none;
}

@media screen and (orientation: landscape) and (max-width: 1900px){
    body, html{
        box-sizing: content-box;
        font-size: 5vh;
    }

    body{
        grid-template-columns: 7fr 1fr;
    }
    
    main{

        height: 55%;
    }
    article{

        height: 65%;
    }
    .content{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 100%;
    }

    .content > a{
        width: 48%;
        height: fit-content;
    }
    .item{
        border-radius: 0.5em;
        padding: 0.25em;
    }
    .info{
        font-size: 0.9em;
        padding-left: 0.2em;
        width: 100%;
        height: fit-content;
        overflow: hidden;
    }

    .info_name{
        border-radius: 0.25em;
    }

    .info_description{
        max-height: 5em;
        overflow: hidden;
        
    }
}

@media screen and (orientation: portrait){
    body{
        font-size: 5vh;
    }

    body{
        grid-template-columns: 4fr 1fr;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr;
    }

    .info{
        padding-left: 1em;
    }
}

@media screen and (orientation: landscape) and (min-width: 1900px){
    body, html{
        font-size: 3vh;
    }

    body{
        display: grid;
        grid-template-columns: 7fr 1fr;
    }
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .info{
        padding-left: 1em;
    }

    .info_description{
        height: 3.75em;
        overflow: hidden;
    }
}
