body{
    font-size: 23px;
    color: black;
}


header{
    padding: 0.5em;
    width: 100%;
    background-color: rgb(171, 64, 64);
}

.head input::placeholder{
    font-size: 21px;
}
.head input{
    font-size: 21px;
    height: 21px;
    padding: 0.25em 0em 0.25em 0.5em;
    border-radius: 2em;
    width: max-content;
    max-width: fit-content;
}
.head{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 2em;
    max-height: fit-content;
}

.homeLogo{
    min-width: 1em;
    width: 2em;
    aspect-ratio: 1/1;
}
.homeLogo a{
    font-size: 46px;
    text-align: center;
}
.homeLogo img
{
    width: 1em;
    aspect-ratio: 1/1;
    min-height: 1em;
    min-width: 0.5em;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: fit-content;
    min-width: min-content;
    max-width: 70%;
    height: fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.nav a{
    text-align: left;
    margin: 0% 2%;
    min-height: 0.5em;
}

.search{
    min-width: min-content;
    width: min-content;
}

/*--------------*/

main{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
aside{
    min-width: 150px;
    overflow: hidden;
}
.side{
    position:fixed;
    border-radius: 10px;
    margin-top: -3.5em;
    z-index: -1;
    min-width: 150px;
    width: 19.66666%;
    height: 98%;

    background-color: green;
    border: solid yellow 0px;
}
.side_top{
    height: 3.5em;
    width: 100%;
    background-color: rgb(171, 64, 64);
}

.side_bottom{
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}

.item{
    display: grid;
    grid-template-columns: 150px 1fr;
    gap:1%;
    min-width: 300px;
    min-height: 150px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: blue;
    
}
img{
    image-rendering: pixelated;
}
.item img {
    width: 150px;
    height: 150px;
}
.preview{
    background-image: url(Logo2.png);
    background-size: cover;
}
