@media screen and (orientation: landscape){
    body, html{
        font-size: 5vh;
    }

    body{
        grid-template-columns: 7fr 1fr;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (orientation: portrait){
    body{
        font-size: 5vh;
    }

    body{
        grid-template-columns: 4fr 1fr;
    }

    .content{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (orientation: landscape) and (min-width: 1900px){
    body, html{
        font-size: 3vh;
    }
    .content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}


html{
    font-size: 20px;
}

body, html{
    font-family: monospace;
    margin: 0;
}

body{
    display: grid;
    color: black;
}

header{
    box-sizing: border-box;
    padding: 0.5em;
    width: 100%;
    height: fit-content;
    background-color: rgb(171, 64, 64);
}

.head input::placeholder{
    font-size: 1em; 
}
.head input{
    font-size: 1em; 
    padding: 0.25em 0em 0.25em 0.5em;
    border-radius: 2em;
    border: 0.2em rgb(114, 29, 29) solid;
    width: max-content;
    max-width: fit-content;
}
.head{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 2em;
    max-height: fit-content;
}

.homeLogo{
    min-width: 1em;
    width: 2em;
    aspect-ratio: 1/1;
}
.homeLogo a{
    font-size: 46px;
    text-align: center;
}
.homeLogo img
{
    width: 1em;
    aspect-ratio: 1/1;
    min-height: 1em;
    min-width: 0.5em;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: max-content;
    min-width: min-content;
    max-width: max-content;
    height: fit-content;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.nav a{
    text-align: left;
    margin: 0% 2%;
    margin-bottom: 0.25em;
    min-height: 0.5em;
}

.search{
    min-width: min-content;
    width: min-content;
}

/*--------------*/

main{
    box-sizing: content-box;
    display: grid;
    border: gray 2px solid;
}

section{
    gap: 0.5em;
    padding: 0.5em;
}

aside{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgb(213, 213, 230);
}

.side{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.side_top{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    aspect-ratio: 2/1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(114, 29, 29);
}

.side_bottom{
    height: 100%;
}

.block_img{
    box-sizing: content-box;
    aspect-ratio: 1/1;
    min-height: 64px;
    min-width: 64px;
    height: 20vmin;
    width: 20vmin;
    max-height: 256px;
    max-width: 256px;
}

.block_img_mini{
    box-sizing: content-box;
    aspect-ratio: 1/1;
    min-height: 32px;
    min-width: 32px;
    height: 10vmin;
    width: 10vmin;
    max-height: 64px;
    max-width: 64px;
}

.side_top img{
    width: 100%;
    height: 100%;
}

.info{
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info_name{
    background-color: rgb(255, 209, 209);
    border-radius: 1em;
    text-align: center;
}

.info_description{
    font-size: 0.75em;
}

.info_tags{
    margin: 0;
    padding: 0;
    list-style: none;
    height: 1em;
    overflow: scroll;
}

.info_tags li{
    display: inline;
}

.item{
    display: grid;
    grid-template-columns: 150px 1fr;
    min-width: 300px;
    min-height: 150px;
    /*margin: 0.5em;*/
    padding: 0.75em;
    border-radius: 0.75em;
    background-color: rgb(224, 179, 179);
    border: solid 0.15em rgba(0,0,0,0);
}

.content > a:hover > div{
    border: solid 0.15em rgb(114, 29, 29);
}

img{
    image-rendering: pixelated;
}
.item img {
    width: 150px;
    height: 150px;
}
.preview{
    background-image: url(Logo2.png);
    background-size: cover;
}

footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: max-content;
    padding: 1em;
    color: white;
    background-color: rgb(57, 57, 57);
    font-size: 0.75em;
}

footer img{
    margin: 10px;
}

a{
    color: unset;
    text-decoration: none;
}
